button.button {
	color: #cfd8dc;
	background: #263238;
	box-shadow: 0 0.5vmin 1vmin 0 rgba(0, 0, 0, 0.2), 0 0.75vmin 2.5vmin 0 rgba(0, 0, 0, 0.19);
	font-family: Verdana, sans-serif;
	// font-size: min(calc(4vw * 3/4), 4vh);
	font-size: 4vmin;
	pointer-events: all;
	border-radius: 2vmin;
	border: none;
	outline: none;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	transition: padding-left 0.5s, color 0.25s
}

.button:disabled {
	cursor: default;
}

.button:hover {
	color: #fa5c5c;
	padding-left: 3vw;
}

.button>.chevron {
	color: #cfd8dc;
	opacity: 0;
	transition: opacity 0.5s, color 0.15s;
}

.button:hover>.chevron.left {
	color: #cfd8dc;
	opacity: 1;
}

.button:active>.chevron.left {
	color: #fa5c5c;
}

.button>.chevron.left:before { content: ">"; }
.button>.chevron.right:after { content: "<"; }
