html, body {
	/*position: relative;*/
	width: 100%;
	height: 100%;
	margin: 0;
	background: #263238;
	color: #cfd8dc;
	font-family: Verdana, sans-serif;
	user-select: none;
	overflow: hidden;
}

body {
	opacity: 0;
}

.no-mouse {
	pointer-events: none;
}

.mouse {
	pointer-events: all;
}

.container {
	display: flex;
	height: 100%;
	justify-content: center;
}

.container.column {
	flex-direction: column;
}

#buttons {
	position: absolute;
	bottom: 0;
	width: 45vw;
	min-width: min(40vh, 100vw);
	height: 50vh;
	max-height: 60vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2vh;
	box-sizing: border-box;
}

#buttons button.button {
	font-size: calc(min(50vh, 60vw) * 0.09);
}

#buttons > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	box-sizing: border-box;
	padding: 1vh 0;
}

#buttons>div:first-child { padding-top: 0; }
#buttons>div:last-child { padding-bottom: 0; }

.tilted {
	/*transform: rotate(-15deg);*/
}

.container > div > button {
	position: relative;
	height: 100%;
	width: 100%;
}

/*.container > div {*/
/*	position: relative;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*}*/

/*.container > div {*/
/*	flex: 1;*/
/*	display: flex;*/
/*	position: relative;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*}*/

#logo > svg {
	position: absolute;
	height: 100%;
	width: 100%;
}

.dim {
	color: #808e95;
}
